@media (max-width: 768px) {
    .diagnostics {
        height: 690px;
        &__descr {
            font-size: 20px;
        }
        img {
            height: 460px;
        }
    }
}

@media (max-width: 576px) {
    .diagnostics {
        &__descr {
            font-size: 17px;
        }
        height: 550px;
        img {
            height: 290px;
        }
    }
}